<!DOCTYPE html>
<html>
  <head>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="header-item" href="/index">Home</a></li>
        <li class="breadcrumb-item"><a class="header-item" href="/challenges">Challenges</a></li>
        <li class="breadcrumb-item"><a class="header-item" href="/mypage">History</a></li>
        <li class="breadcrumb-item"><a class="header-item" href="/help">Help</a></li>
        <li class="breadcrumb-item"><a class="header-item" href="/users/logout">Logout</a></li>
      </ol>
    </nav>
    <title>Answer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="page-div">
      <div class="card answer-card-difficulty">
        <div class="card-body" id="difficulty"></div>
      </div>
      <div class="card answer-card-time">
        <div class="card-body" id="remaining"></div>
      </div>
      <div class="card line">
        <div class="card-body"></div>
      </div>

      <div class="card answer-card">
        <div class="card-body">
          <div class="question">
            <h4 id="q1-1"></h4>
            <h4 id="q1-op"></h4>
            <h4 id="q1-2"></h4>
          </div>
          
          <form id="form-q1">
            <div class="col-md-12">
              <input
                id="result-q1"
                class="form-control"
                type="number"
                name="result"
                placeholder="Answer"
                required
              />
              <div class="invalid-feedback">A resposta não pode ser vazia.</div>
            </div>
            <div class="form-button mt-3">
              <button
                id="submit-1"
                type="button"
                onclick="saveAnswer('q1');"
                class="btn btn-dark"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="card answer-card">
        <div class="card-body">
          <div class="question">
            <h4 id="q2-1"></h4>
            <h4 id="q2-op"></h4>
            <h4 id="q2-2"></h4>
          </div>
          <form id="form-q2">
            <div class="col-md-12">
              <input
                id="result-q2"
                class="form-control"
                type="number"
                name="result"
                placeholder="Answer"
                required
              />
              <div class="invalid-feedback">A resposta não pode ser vazia.</div>
            </div>
            <div class="form-button mt-3">
              <button
                id="submit-2"
                type="button"
                onclick="saveAnswer('q2');"
                class="btn btn-dark"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="card answer-card">
        <div class="card-body">
          <div class="question">
            <h4 id="q3-1"></h4>
            <h4 id="q3-op"></h4>
            <h4 id="q3-2"></h4>
          </div>
          <form id="form-q3">
            <div class="col-md-12">
              <input
                id="result-q3"
                class="form-control"
                type="number"
                name="result"
                placeholder="Answer"
                required
              />
              <div class="invalid-feedback">A resposta não pode ser vazia.</div>
            </div>
            <div class="form-button mt-3">
              <button
                id="submit-3"
                type="button"
                onclick="saveAnswer('q3');"
                class="btn btn-dark"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="card answer-card">
        <div class="card-body">
          <div class="question">
            <h4 id="q4-1"></h4>
            <h4 id="q4-op"></h4>
            <h4 id="q4-2"></h4>
          </div>
          <form id="form-q4">
            <div class="col-md-12">
              <input
                id="result-q4"
                class="form-control"
                type="number"
                name="result"
                placeholder="Answer"
                required
              />
              <div class="invalid-feedback">A resposta não pode ser vazia.</div>
            </div>
            <div class="form-button mt-3">
              <button
                id="submit-4"
                type="button"
                onclick="saveAnswer('q4');"
                class="btn btn-dark"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="card answer-card">
        <div class="card-body">
          <div class="question">
            <h4 id="q5-1"></h4>
            <h4 id="q5-op"></h4>
            <h4 id="q5-2"></h4>
          </div>
          <form id="form-q5">
            <div class="col-md-12">
              <input
                id="result-q5"
                class="form-control"
                type="number"
                name="result"
                placeholder="Answer"
                required
              />
              <div class="invalid-feedback">A resposta não pode ser vazia.</div>
            </div>
            <div class="form-button mt-3">
              <button
                id="submit-5"
                type="button"
                onclick="saveAnswer('q5');"
                class="btn btn-dark"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="card answer-card">
        <div class="card-body">
          <div class="question">
            <h4 id="q6-1"></h4>
            <h4 id="q6-op"></h4>
            <h4 id="q6-2"></h4>
          </div>
          <form id="form-q6">
            <div class="col-md-12">
              <input
                id="result-q6"
                class="form-control"
                type="number"
                name="result"
                placeholder="Answer"
                required
              />
              <div class="invalid-feedback">A resposta não pode ser vazia.</div>
            </div>
            <div class="form-button mt-3">
              <button
                id="submit-6"
                type="button"
                onclick="saveAnswer('q6');"
                class="btn btn-dark"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="card answer-card">
        <div class="card-body">
          <div class="question">
            <h4 id="q7-1"></h4>
            <h4 id="q7-op"></h4>
            <h4 id="q7-2"></h4>
          </div>
          <form id="form-q7">
            <div class="col-md-12">
              <input
                id="result-q7"
                class="form-control"
                type="number"
                name="result"
                placeholder="Answer"
                required
              />
              <div class="invalid-feedback">A resposta não pode ser vazia.</div>
            </div>
            <div class="form-button mt-3">
              <button
                id="submit-7"
                type="button"
                onclick="saveAnswer('q7');"
                class="btn btn-dark"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="card answer-card">
        <div class="card-body">
          <div class="question">
            <h4 id="q8-1"></h4>
            <h4 id="q8-op"></h4>
            <h4 id="q8-2"></h4>
          </div>
          <form id="form-q8">
            <div class="col-md-12">
              <input
                id="result-q8"
                class="form-control"
                type="number"
                name="result"
                placeholder="Answer"
                required
              />
              <div class="invalid-feedback">A resposta não pode ser vazia.</div>
            </div>
            <div class="form-button mt-3">
              <button
                id="submit-8"
                type="button"
                onclick="saveAnswer('q8');"
                class="btn btn-dark"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="card answer-card">
        <div class="card-body">
          <div class="question">
            <h4 id="q9-1"></h4>
            <h4 id="q9-op"></h4>
            <h4 id="q9-2"></h4>
          </div>
          <form id="form-q9">
            <div class="col-md-12">
              <input
                id="result-q9"
                class="form-control"
                type="number"
                name="result"
                placeholder="Answer"
                required
              />
              <div class="invalid-feedback">A resposta não pode ser vazia.</div>
            </div>
            <div class="form-button mt-3">
              <button
                id="submit-9"
                type="button"
                onclick="saveAnswer('q9');"
                class="btn btn-dark"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="card answer-card">
        <div class="card-body">
          <div class="question">
            <h4 id="q10-1"></h4>
            <h4 id="q10-op"></h4>
            <h4 id="q10-2"></h4>
          </div>
          <form id="form-q10">
            <div class="col-md-12">
              <input
                id="result-q10"
                class="form-control"
                type="number"
                name="result"
                placeholder="Answer"
                required
              />
              <div class="invalid-feedback">A resposta não pode ser vazia.</div>
            </div>
            <div class="form-button mt-3">
              <button
                id="submit-10"
                type="button"
                onclick="saveAnswer('q10');"
                class="btn btn-dark"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var difficulty;
  var dateTimeStart;
  $(document).ready(function () {
    difficulty = location.href[location.href.length - 1];
    dateTimeStart = new Date();
    dateTimeStart = dateTimeStart.toISOString();
    let remaining;
    var answerQ;
    switch (difficulty) {
      case "1":
        difficulty = "easy";
        remaining = "60s";
        break;
      case "2":
        difficulty = "normal";
        remaining = "45s";
        break;
      case "3":
        difficulty = "advanced";
        remaining = "30s";
        break;
      case "4":
        difficulty = "extreme";
        remaining = "20s";
        break;
      default:
        break;
    }
    var contador = 1;
    $.ajax({
      type: "GET",
      url: `http://localhost:3000/challenges/try?difficulty=${difficulty}`,
    }).then((res) => {
      res.questions.forEach((data) => {
        $(`#q${contador.toString()}-1`).text(data.n1);
        $(`#q${contador.toString()}-op`).text('*');
        $(`#q${contador.toString()}-2`).text(data.n2);
        contador++;
      });
    });
    $("#difficulty").text(difficulty);
    $("#remaining").text(remaining);
  });

  function saveAnswer(q) {
    $.ajax({
      type: "GET",
      url: `http://localhost:3000/users/get-user-by-token`,
    }).then((res) => {
      let dateTimeAnswer = new Date();
      dateTimeAnswer = dateTimeAnswer.toISOString();
      if ($(`#result-${q}`).val() !== null) {
        var answerRequest = {
          answerRequest: {
            userEmail: res,
            id: q,
            n1: $(`#${q}-1`).text(),
            n2: $(`#${q}-2`).text(),
            result: $(`#result-${q}`).val(),
            difficulty: difficulty,
            dateTimeStart: dateTimeStart,
            dateTimeAnswer: dateTimeAnswer,
          },
        };

        $.ajax({
          type: "POST",
          url: "http://localhost:3000/challenges/answer",
          data: answerRequest,
          dataType: "json",
          encode: true,
        }).then((res) => {
          if (res.completed) {
            window.location.href = "http://localhost:3000/mypage";
          }
        });
      }
    });
  }

  function getNumber(subString) {
    if (Number(subString[0]) >= 0 && Number(subString[1]) >= 0) {
      return subString;
    } else if (Number(subString[0]) >= 0) {
      return subString[0];
    } else {
      return subString[1];
    }
  }
</script>
