<!DOCTYPE html>
<html>
  <head>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="header-item" href="/index">Home</a></li>
      </ol>
    </nav>
    <title>Application Documentation</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <div class="page-div">
      <div class="card challenges-card-title">
        <div class="card-body"><h1>Documentation</h1></div>
      </div>

      <div class="card doc-card">
        <div class="card-body">
            <h3 class="title-doc">Documentação</h3>
            <h5>1. Para utilizar a aplicação web, primeiramente, crie uma conta no menu inicial e faça login.</h5>
            <h5>2. Depois, é possível verificar o botão Challenges, que levará o usuário para a tela de desafios, que também pode ser acessada através do header</h5>
            <h5>3. E então, pode-se selecionar uma das diferentes dificuldades de desafio</h5>
            <h5>4. O usuário terá a possibilidade de resolver no tempo determinado pela dificuldade do desafio 10 questões de tabuada</h5>
            <h5>5. Ao finalizar as questões, ou terminar o tempo, a pontuação do usuário será calculada e será possível verificar o histórico resultante do desafio, na tela History</h5>
        </div>
      </div>
    </div>
  </body>
</html>
