<!DOCTYPE html>
<html>
  <head>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a href="/challenges">Challenges</a></li>
        <li class="breadcrumb-item"><a href="/mypage">History</a></li>
        <li class="breadcrumb-item"><a href="/help">Help</a></li>
        <li class="breadcrumb-item"><a href="/users/logout">Logout</a></li>
      </ol>
    </nav>
    <title>Menu Inicial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
        <div class="index-title-div">
            <h1 class="index-title">Fast Calc</h1>
            <div class="subtitle-plus-icon">
                <h2 class="index-subtitle">Be The Fastest</h2>
                <embed src="../images/bolt-lightning-solid.svg" class="icon-lightning"></embed>
            </div>
            <button id="activities" class="btn btn-dark btn-index" onclick="location.href = 'http://localhost:3000/challenges';" type="button">
                Challenges
            </button>
        </div>
        
  </body>
</html>
